@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sono&display=swap');

html, body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.banner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}
.banner h1{
    font-family: 'Dancing Script';
    font-size: 70px;
    color: #A82D49;
    position: absolute;
    top: 60px;
    left: 100px;
}
.banner h2{
    font-family:'Sono';
    font-size: 50px;
    color: #000000;
    position: absolute;
    top: 85px;
    left: 240px;
}
.banner button{
    color: #A82D49;
    position: absolute;
    top: 210px;
    left: 150px;
    z-index: 10;
}
.btn-transparent{
    font-family: 'sono';
    border: solid #A82D49 2px;
    padding: 5px 10px;
    width: 150px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.btn-transparent:hover{
    transition: 1s;
    background: #A82D49;
    color: white;
}
.btn-transparenta{
    font-family: 'sono';
    border: solid #A82D49 2px;
    padding: 5px 10px;
    width: 150px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}
.btn-transparenta:hover{
    transition: 1s;
    background: #A82D49;
    color:rgb(0, 0, 0);
}
.banner-content{
    position: absolute;
    z-index: 2;
    text-align: center;
}
.aboutus{
    width: 720px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.aboutus h1{
    font-family:'Sono';
    color: #A82D49!important;
}
.aboutus p{
    color: rgb(0, 0, 0);
    font-style: sans-serif;
}
.aboutus a{
    text-decoration: none;
    color: #A82D49;
}
.menu{
    width: 720px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.menu-item h1{
    font-family: 'Dancing Script'!important;
    color: #A82D49;
}
.menu-item p{
    padding: 20px;
}
.menu-item-container{
    display: flex;
    flex-wrap: wrap;
}
.menu-item{
    width: 50%;
    text-align: center;
}
.menu-cover h1{
    font-family:'Sono';
    color: #A82D49;
    box-sizing: border-box;
}
.contact{
    width: 720px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 20px 0px;
}
.contact h1{
    font-family:'Sono';
    color: #A82D49;
    margin-top: 0px;
}
.contact p{
    margin-bottom: 0px;
}
.input-form{
    background: #A82D49;
    border: none;
    border: 1px solid #A82D49;
    width: 75%;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}
.input-textarea{
    background: #A82D49;
    border: none;
    border: 1px solid #A82D49;
    width: 75%;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    resize: none;
    box-sizing: border-box;
    color: white;
}
.footer{
    font-style: 'sans'!important;
    font-size: small;
    color: white;
    padding: 10px;
    background: #A82D49;
    text-align: center;
    
}
.navigation-bar{
    background: #A82D49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0
.75);
box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li {
    padding: 10px;
}
.nav-links li a{
    font-family:'Sono';
    text-decoration: none;
    color: black;
}
.nav-links li a:hover{
    font-weight: bold;
    transition: 0.1s;
}
.navigation-bar h1{
    font-family: 'Dancing Script';
    color: white;
    
}
.submit-btn{
    border: solid #A82D49 1px;
    padding: 10px;
    color: #A82D49;
    cursor: pointer;
    width: 75%;
    margin: 10px 0px;
    border-radius: 5px;
}
.submit-btn:hover{
    transition: 1s;
    background: #A82D49;
    color: white;
}